<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617832354731-56h7iom2u8onq24sgpd5l23m31cadvb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617832354731-56h7iom2u8onq24sgpd5l23m31cadvb2</string>
	<key>API_KEY</key>
	<string>AIzaSyAHn8Lo7ugHwRM7q4ermSH1hlqkAP6P0Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>617832354731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.linniergames.loaner</string>
	<key>PROJECT_ID</key>
	<string>loaner-195ea</string>
	<key>STORAGE_BUCKET</key>
	<string>loaner-195ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617832354731:ios:74d7a344a6a3e0f4</string>
	<key>DATABASE_URL</key>
	<string>https://loaner-195ea.firebaseio.com</string>
</dict>
</plist>